.fab {
    font-size: 25px;
    margin: 10px;
    color: #ff1891;
}
.socialMedia {
    border: 5px solid black;
    margin: 0;
    width: 140px;
    background-color: black;
    align-items: center;
    box-shadow: #ff1891;
}
.sectionGrid {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 75%;
    grid-gap: 20px;
    padding: 25px;

}
.logo {
    grid-column: 1;
    grid-row: 1;

}
.aboutMe {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
}

.content {
    grid-column: 3;
    grid-row: 2;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}
h4 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.skills p {
    color: #ff1891;
}
.haleysHeadshot h3 {
    color: #ff1891;
}