.fab {
    font-size: 25px;
    margin: 10px;
    color: #ff1891;
}
.socialMedia {
    border: 5px solid black;
    margin: 0;
    width: 140px;
    background-color: black;
    align-items: center;
    box-shadow: #ff1891;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}
h4 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.skills p {
    color: #ff1891;
}
.haleysHeadshot h3 {
    color: #ff1891;
}